<div class="row">
	<div class="col-md-4" style="text-align: center">
		<div style="width: 100px; height: 100px; margin: 30px auto 25px auto;">
			<img src="images/icon_21069_lt.svg">
		</div>
		<div>
			<p style="font-size: 90px; font-weight: bold; line-height:1">__%</p>
			<p style="font-size: 40px; line-height:1;">of students</p>
			<p style="margin: 15px 20px; font-size: 16px; color: #777;">attend schools that applied for high-speed broadband to their campus for school year 2014&#8209;15</p>
        </div>
    </div>
	<div class="col-md-4" style="text-align: center" >
		<div style="width: 100px; height: 100px; margin: 30px auto 25px auto;">
			<img src="images/icon_6857_lt.svg">
		</div>
		<div>
			<p style="font-size: 90px; font-weight: bold; line-height:1">__%</p>
			<p style="font-size: 40px; line-height:1;">of libraries</p>
			<p style="margin: 15px 20px; font-size: 16px; color: #777;">applied for high-speed broadband to their building for school year 2014&#8209;15</p>
        </div>
    </div>
    <div class="col-md-4" style="text-align: center" >
		<div style="width: 100px; height: 100px; margin: 30px auto 25px auto;">
			<img width=100px height=100px src="images/icon_34656_lt.svg">
		</div>
		<div>
			<p style="font-size: 90px; font-weight: bold; line-height:1">__%</p>
			<p style="font-size: 30px; line-height:1.33;">of schools & libraries</p>
			<p style="margin: 15px 20px; font-size: 16px; color: #777;">applied for internal connections (WiFi) funding for school year 2014&#8209;15</p>
        </div>
    </div>
</div>
<div class="row">
	<div style="text-align: center; margin: 5px 0 20px"><a href="dashboards/infrastructure">More infrastructure info &raquo;</a></div>
	<hr>
</div>
<div class="row">
    <div class="col-md-4" style="text-align: center" >
		<div style="width: 100px; height: 100px; margin: 30px auto 25px auto;">
			<img src="images/icon_18095_lt.svg">
		</div>
		<div>
			<p style="font-size: 90px; font-weight: bold; line-height:1">$<%= number_with_delimiter(@spending_small.single_ctype_stats['1 Gbps fiber']['price_median'].round(0).to_i) %></p>
			<p style="font-size: 40px; line-height:1;">for 1 Gbps</p>
			<p style="margin: 15px 20px; font-size: 16px; color: #777;">median monthly price paid by schools & libraries for a 1 gigabit per second broadband connection</p>
			<a href="dashboards/spending">More pricing & spending info &raquo;</a>
        </div>
    </div>
    <div class="col-md-4" style="text-align: center" >
		<div style="width: 100px; height: 100px; margin: 30px auto 25px auto;">
			<img src="images/icon_35891_lt.svg">
		</div>
		<div>
			<p style="font-size: 90px; font-weight: bold; line-height:1"><%= number_with_delimiter(@applicant_small.num_applicants) %></p>
			<p style="font-size: 40px; line-height:1;">applicants</p>
			<p style="margin: 15px 20px; font-size: 16px; color: #777;">including consortia, districts, individual schools, library systems, and individual libraries</p>
			<a href="dashboards/apps">More applicant info &raquo;</a>
        </div>
    </div>
    <div class="col-md-4" style="text-align: center" >
		<div style="width: 100px; height: 100px; margin: 30px auto 25px auto;">
			<img src="images/icon_25603_lt.svg">
		</div>
		<div>
			<p style="font-size: 90px; font-weight: bold; line-height:1"><%= (@processing_small.processing_metrics["lines"] * 100).round(0) %>%</p>
			<p style="font-size: 30px; line-height:1;">of broadband<br>requests</p>
			<p style="margin: 15px 20px; font-size: 16px; color: #777;">for the 2014&#8209;15 school year have been reviewed by USAC <br></p>
			<a href="dashboards/processing">More application processing info &raquo;</a>
        </div>
    </div>
</div>


