<div class="row">
	<div class="col-md-4" style="text-align: center" >
    	<p style="font-size: 90px; font-weight: bold">6,581</p>
          <p style="font-size: 18px"><i>Applicants have filed for FY 2014</i></p><br>
          <p><a class="btn btn-default" href="/dashboards/form471" role="button">More Form 471 Info &raquo;</a></p>
    </div>
	<div class="col-md-4" style="text-align: center" >
    	<p style="font-size: 90px; font-weight: bold">$1,386</p>
          <p style="font-size: 18px"><i>Median 100 Mbps monthly price</i></p><br>
          <p><a class="btn btn-default" href="/dashboards/item24" role="button">More Item 24 Info &raquo;</a></p>
    </div>
	<div class="col-md-4" style="text-align: center" >
    	<p style="font-size: 90px; font-weight: bold">0%</p>
          <p style="font-size: 18px"><i>Jump-the-Line funding processed</i></p><br>
          <p><a class="btn btn-default" href="/dashboards/jump_the_line" role="button">More Jump-the-Line Info &raquo;</a></p>
    </div>
</div>

