<div class="row">
	<div class="col-md-4" style="text-align: center">
		<div style="width: 100px; height: 100px; margin: 30px auto 25px auto;">
			<img src="images/icon_21069_lt.svg">
		</div>
		<div>
			<p style="font-size: 90px; font-weight: bold; line-height:1">__%</p>
			<p style="font-size: 40px; line-height:1;">of students</p>
			<p style="margin: 15px 20px; font-size: 16px; color: #777;">attend schools that applied for high-speed broadband to their campus this year</p>
        </div>
    </div>
	<div class="col-md-4" style="text-align: center" >
		<div style="width: 100px; height: 100px; margin: 30px auto 25px auto;">
			<img src="images/icon_6857_lt.svg">
		</div>
		<div>
			<p style="font-size: 90px; font-weight: bold; line-height:1">__%</p>
			<p style="font-size: 40px; line-height:1;">of libraries</p>
			<p style="margin: 15px 20px; font-size: 16px; color: #777;">applied for high-speed broadband to their building this year</p>
        </div>
    </div>
    <div class="col-md-4" style="text-align: center" >
		<div style="width: 100px; height: 100px; margin: 30px auto 25px auto;">
			<img width=100px height=100px src="images/icon_34656_lt.svg">
		</div>
		<div>
			<p style="font-size: 90px; font-weight: bold; line-height:1">__%</p>
			<p style="font-size: 30px; line-height:1.33;">of schools & libraries</p>
			<p style="margin: 15px 20px; font-size: 16px; color: #777;">applied for internal connections (WiFi) funding this year</p>
        </div>
    </div>
</div>
<div class="row">
	<div style="text-align: center"><a href="dashboards/infrastructure">More infrastructure info &raquo;</a></div>
	<hr>
</div>
<div class="row">
    <div class="col-md-4" style="text-align: center" >
		<div style="width: 100px; height: 100px; margin: 30px auto 25px auto;">
			<img src="images/icon_18095_lt.svg">
		</div>
		<div>
			<p style="font-size: 90px; font-weight: bold; line-height:1">$<%= number_with_delimiter(@item24_small.single_ctype_stats['1 Gbps fiber']['price_median'].round(0).to_i) %></p>
			<p style="font-size: 40px; line-height:1;">for 1 Gbps</p>
			<p style="margin: 15px 20px; font-size: 16px; color: #777;">median monthly price paid by schools & libraries for a 1 gigabit per second broadband connection</p>
			<a href="dashboards/spending">More pricing & spending info &raquo;</a>
        </div>
    </div>
    <div class="col-md-4" style="text-align: center" >
		<div style="width: 100px; height: 100px; margin: 30px auto 25px auto;">
			<img src="images/icon_35891_lt.svg">
		</div>
		<div>
			<p style="font-size: 90px; font-weight: bold; line-height:1">__</p>
			<p style="font-size: 30px; line-height:1.33;">schools or libraries</p>
			<p style="margin: 15px 20px; font-size: 16px; color: #777;">average number of schools or libraries joining together to purchase and apply for service</p>
			<a href="dashboards/apps">More application info &raquo;</a>
        </div>
    </div>
    <div class="col-md-4" style="text-align: center" >
		<div style="width: 100px; height: 100px; margin: 30px auto 25px auto;">
			<img src="images/icon_25603_lt.svg">
		</div>
		<div>
			<p style="font-size: 90px; font-weight: bold; line-height:1">0%</p>
			<p style="font-size: 30px; line-height:1;">of broadband requests</p>
			<p style="margin: 15px 20px; font-size: 16px; color: #777;">have been reviewed by USAC <br><br></p>
			<a href="dashboards/processing">More application processing info &raquo;</a>
        </div>
    </div>
</div>
<div class="row">
	<hr>
</div>

