<h4>Importing data. It's not a good idea to start a new import while the last one is still pending . . . </h4>

<p>Check the <a href="/data_upload/upload_log">upload log</a> to monitor progress.</p>

