<h1>Data Upload</h1>

<br><br>

<form role="form" action="/data_upload/new_upload" method="post" enctype="multipart/form-data">
<div class="form-group">
	<label for="drt-file-input">Data Retreival Tool CSV</label>
	<div class="input-group" id="drt-file-input">
		<span class="input-group-btn">
			<span class="btn btn-default btn-file">
				Browse&hellip; <input type="file" name="drt-file">
			</span>
		</span>
		<input type="text" class="form-control narrow-text-input" readonly>
	</div>
	<span class="help-block">
		Weekly USAC dump of 2014 data for data retreival tool, with a few columns added
	</span>
</div>

<div class="form-group">
	<label for="item24-file-input">Item 24 CSV</label>
	<div class="input-group" id="item24-file-input">
		<span class="input-group-btn">
			<span class="btn btn-default btn-file">
				Browse&hellip; <input type="file" name="item24-file">
			</span>
		</span>
		<input type="text" class="form-control narrow-text-input" readonly>
	</div>
	<span class="help-block">
		Weekly USAC dump of 2014 item 24 data
	</span>
</div>

<button type="submit" class="btn btn-primary">Upload & Process</button>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

<script> 
$(document).on('change', '.btn-file :file', function() {
	var input = $(this),
	numFiles = input.get(0).files ? input.get(0).files.length : 1,
    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
	$('.btn-file :file').on('fileselect', function(event, numFiles, label) {
		var input = $(this).parents('.input-group').find(':text'),
		log = numFiles > 1 ? numFiles + ' files selected' : label;
				
		if( input.length ) {
			input.val(log);
		} else {
			if( log ) alert(log);
		}
	});
});
</script> 